name: MLflow CI Pipeline

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  schedule:
    - cron: "0 0 * * 0"
  workflow_dispatch:

jobs:
  train-model:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pandas numpy scikit-learn mlflow
    

    - name: Run MLflow Project
      run: |
        cd MLProject
        # Ganti dengan nama entry point yang sesuai di MLProject, 
        # contoh: 'main' atau 'train'.
        mlflow run . -e train # Sesuaikan '-e train' dengan entry point Anda

    - name: Upload MLflow artifacts
      uses: actions/upload-artifact@v4
      with:
        name: training-results
        path: |
          MLProject/mlruns/
          MLProject/namadataset_preprocessing
        retention-days: 30