name: MLflow CI Pipeline

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  workflow_dispatch:

jobs:

  train-model:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pandas numpy scikit-learn mlflow joblib

    - name: Verify RAW Dataset Exists
      run: |
        if [ ! -f "MLProject/namadataset_preprocessing/banknote_authentication.csv" ]; then
          echo " ERROR: banknote_authentication.csv tidak ditemukan!"
          exit 1
        fi
        echo " RAW dataset ditemukan."

    - name: Run Preprocessing
      run: |
        cd MLProject
        python preprocessing.py

    - name: Run Modelling
      run: |
        cd MLProject
        python modelling.py

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: mlflow-results
        path: |
          MLProject/mlruns
          MLProject/namadataset_preprocessing/*.csv
        retention-days: 30


  build-docker:
    needs: train-model
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/master'

    steps:

    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Download artifacts
      uses: actions/download-artifact@v4
      with:
        name: mlflow-results
        path: MLProject/

    - name: Setup Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build & Push Application Image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: |
          dapadeveloper/banknote_authentication:latest
          dapadeveloper/banknote_authentication:${{ github.sha }}

    - name: Build MLflow Model Docker Image
      run: |
        cd MLProject

        if [ -d "mlruns/0" ]; then
          LATEST_RUN=$(ls -t mlruns/0 | head -1)
          
          MODEL_DIR=""
          if [ -d "mlruns/0/$LATEST_RUN/artifacts/model" ]; then
            MODEL_DIR="mlruns/0/$LATEST_RUN/artifacts/model"
          fi

          if [ ! -z "$MODEL_DIR" ]; then
            mlflow models build-docker \
              -m "$MODEL_DIR" \
              -n dapadeveloper/banknote_authentication_mlflow || true
          else
            echo " Model folder tidak ditemukan."
          fi

        else
          echo " Tidak ada MLflow experiment."
        fi
